.about-us {
  margin: 0;

  @include page-grid;

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__content {
    grid-column: 1 / -1;

    display: grid;
    row-gap: 16px;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: span 7;
    }
  }

  &__note {
    margin: 0;
    font-size: 12px;
    line-height: 140%;
    color: $accent-main;
  }

  &__location {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
  }

  &__schedule {
    display: flex;
    gap: 25px;
  }

  &__time {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    row-gap: 8px;
    font-weight: 700;
  }

  &__days {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    row-gap: 8px;
  }
}
