.explore {
  &__photo {
    width: 100%;
    transition: $animation-time;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__title {
    margin: 0;
    padding-top: 24px;
    color: $accent-main;

    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    text-align: center;

    @include on-tablet {
      padding-top: 32px;
    }
  }

  &__description {
    margin: 0;
    color: $main-dark;

    font-family: Roboto, sans-serif;
    font-weight: 400;
    text-align: center;
  }
}
