.header {
  background-image: url(/src/images/header-bg.png);
  background-position: center;
  background-size: cover;

  &__content {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    padding-top: 89px;

    @include on-tablet {
      padding-top: 86px;
    }

    @include on-desktop {
      padding-top: 28px;
    }
  }

  &__title {
    margin: 0;

    font-size: 40px;
    font-weight: 700;
    font-style: Bold;
    line-height: 100%;
    color: $home-color;
    text-align: center;
    letter-spacing: -1.5px;
    vertical-align: middle;

    @include on-tablet {
      font-size: 64px;
    }

    @include on-desktop {
      font-size: 80px;
    }
  }
}
