.nav {
  &__link {
    position: relative;
    font-size: 22px;
    font-style: Bold;
    line-height: 22px;
    color: $home-color;
    text-decoration: none;
    letter-spacing: 2px;

    &::after {
      content: '';
      display: block;
      width: 100%;
      position: absolute;
      bottom: -8px;
      height: 1px;
      background-color: $home-color;

      transition: transform $animation-time;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;

    margin: 0;
    padding: 0;
    padding-bottom: 32px;

    list-style: none;

    @include on-desktop {
      padding-bottom: 48px;
    }
  }
}
