.section-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;

  color: $main-dark;

  @include on-tablet {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0.5px;
    margin-bottom: 48px;
  }

  &--align-left {
    text-align: left;
  }

  &--small-margin {
    margin-bottom: 8px;
  }
}
