.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 25px 40px;

  @include on-tablet {
    padding-block: 32px 40px;
  }

  @include on-desktop {
    padding-block: 32px 55px;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 45px;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      height: 65px;
    }
  }
}
